@media screen and (max-width: 749px) {
  /* body {
    width: 95%;
    margin: 0 2.5% 0 2.5%;
  } */
}

@media screen and (min-width: 750px) {
  /* body {
    width: 80%;
    margin: 0 10% 0 10%;
  } */
}

a {
  text-decoration: none;
}
