@media screen and (max-width: 512px) and (min-width: 1px) {
  .menuItem {
    width: 90%;
    margin: 5%;
    padding-bottom: 1%;
  }

  .menuItemImage {
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    transform: translate(-5%, -10%);
  }
  .menuItemDescription {
    left: 22%;
  }
}
@media screen and (max-width: 768px) and (min-width: 513px) {
  .menuItem {
    width: 90%;
    margin: 5%;
    padding-bottom: 5%;
  }

  .menuItemImage {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    transform: translate(-5%, -10%);
  }
  .menuItemDescription {
    left: 22%;
  }
}

@media screen and (max-width: 1025px) and (min-width: 769px) {
  .menuItem {
    width: 80%;
    margin: 10%;
    padding-bottom: 5%;
    position: relative;
  }

  .menuItemImage {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    transform: translate(-5%, -10%);
  }
  .menuItemDescription {
    left: 20%;
  }
}

@media screen and (min-width: 1026px) {
  .menuItem {
    width: 50%;
    margin: 5% 25% 5% 25%;
    padding-bottom: 5%;
    position: relative;
  }
  .menuItemImage {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    transform: translate(-10%, -25%);
  }
  .menuItemDescription {
    left: 25%;
  }
}

main {
  width: 100%;
  padding: 10% 0 5% 0;
}

.menuItem {
  position: relative;
  /* display: flex;
  flex-direction: row; */
  background-color: rgb(235, 227, 217);
}
.menuItemImageDiv {
  width: 30%;
}

.menuItemDescription {
  width: 68%;
  padding-top: 10px;
  position: relative;
}

.menuItemParagraph {
  width: 100%;
  padding: 0;
}
.menuItemHeader {
  width: 100%;
}
